
a { 
    background-color: #FF0000; // RED
}

/*section { 
    border: 1.5px solid red; 
    border-radius: 10px;
}*/

#navList {
    top: -50px;
}

<selector> {
    top: 0;
}

/*<selector> {
    border: none;
}*/

/*<selector> {
    background-color: #D3D3D3;  // GREY
}*/

/*.withoutBorder {
    border:  none;
}*/

/*****************************************************************/

.withBorder {
    border: 1.5px solid red; 
    border-radius: 10px;
}

.inactive {
    background-color: #D3D3D3;  // GREY
}

.active {
    background-color: #FF0000; // RED
}

.showNav {
    top: 0;
}

.noShowNav {
    top: -50px;
}
    
    
